body {
  font-family: monospace;
  text-align: center;
  width: 100%
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.fa {
  text-decoration: none;
  font-size: 30px;
  color: black;
  padding: 5px;
}
.fa:hover {
  color: gray;
}

#photo img {
  border: 1px solid black;
  border-radius: 50%;
  width: 20%;
  max-width: 200px;
}

#navbar {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  margin-bottom: 50px;
  width: 100%;
}
#navbar ul {
  list-style-type: none;
  list-style: none;
}
#navbar li {
  display: inline;
  padding: 10px;
}

#footer {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
#footer .fa {
  text-decoration: none;
  font-size: 24px;
  color: black;
  // padding: 5px;
}
#footer .fa:hover {
  color: white;
}

#about-me {
  padding-bottom: 100rem;
}