#footer
  %p Find me on social media.
  %a.icon{href: 'mailto:alghazu@gmail.com'}
    %i.fa.fa-envelope
  %a.icon{href: 'https://github.com/alghazu'}
    %i.fa.fa-github
  %a.icon{href: 'https://www.linkedin.com/in/nader-al-ghazu/'}
    %i.fa.fa-linkedin
  %a.icon{href: 'https://www.facebook.com/nader.alghazu'}
    %i.fa.fa-facebook-official
  %a.icon{href: 'https://www.instagram.com/nader_alghazu/'}
    %i.fa.fa-instagram
  %a.icon{href: 'https://www.snapchat.com/add/alghazu'}
    %i.fa.fa-snapchat
  %a.icon{href: 'https://twitter.com/al_ghazu'}
    %i.fa.fa-twitter
  %p &copy 2018 Nader Al-Ghazu
