%footer
  %p Find me on social media.
  %i.fa.fa-envelope
  %i.fa.fa-github
  %a{href: 'https://github.com/alghazu'}
  %i.fa.fa-slack
  %i.fa.fa-facebook-official
  %i.fa.fa-instagram
  %i.fa.fa-snapchat
  %i.fa.fa-pinterest-p
  %i.fa.fa-twitter
  %i.fa.fa-linkedin
  %p &copy 2018 Nader Al-Ghazu
