
/ Primary Meta Tags
%title Nader's Portfolio
%meta{content: "Nader's Portfolio", name: "title"}
%meta{content: "A Lean startup ninja pirate rock star, employing continuous agile scrum customer development iterations to drive market development.", name: "description"}/
/ Open Graph / Facebook
%meta{content: "website", property: "og:type"}
%meta{content: "https://alghazu.com/", property: "og:url"}
%meta{content: "Nader's Portfolio", property: "og:title"}
%meta{content: "A Lean startup ninja pirate rock star, employing continuous agile scrum customer development iterations to drive market development.", property: "og:description"}
%meta{content: "/source/images/Nader-White.jpg", property: "og:image"}
/ Twitter
%meta{content: "summary_large_image", property: "twitter:card"}
%meta{content: "https://alghazu.com/", property: "twitter:url"}
%meta{content: "Nader's Portfolio", property: "twitter:title"}
%meta{content: "A Lean startup ninja pirate rock star, employing continuous agile scrum customer development iterations to drive market development.", property: "twitter:description"}/
%meta{content: "source/images/Nader-White.jpg", property: "twitter:image"}