#navbar
  %ul
    %li
      %a{href: 'index.html'} About Me
    %li
      %a{href: 'projects.html'} Projects
    %li
      %a{href: 'resume.html' } Résumé
    %li
      %a{href: 'contact.html'} Contact
