%a.icon{href: 'mailto:alghazu@gmail.com'}
  %i.fa.fa-envelope
%a.icon{href: 'https://github.com/alghazu', target: '_blank'}
  %i.fa.fa-github
%a.icon{href: 'https://www.linkedin.com/in/nader-al-ghazu/', target: '_blank'}
  %i.fa.fa-linkedin
%a.icon{href: 'https://www.facebook.com/nader.alghazu', target: '_blank'}
  %i.fa.fa-facebook-official
%a.icon{href: 'https://www.instagram.com/nader_alghazu/', target: '_blank'}
  %i.fa.fa-instagram
%a.icon{href: 'https://www.snapchat.com/add/alghazu', target: '_blank'}
  %i.fa.fa-snapchat
%a.icon{href: 'https://twitter.com/al_ghazu', target: '_blank'}
  %i.fa.fa-twitter
