%h1 Contact Me
%p You can contact me by filling this form, or through the social media links below.
%form{method: "POST", name: "contact", netlify: ""}
  %p
    Your Name:
    %br
    %input{name: "name", type: "text"}
  %p
    Your Email:
    %br
    %input{name: "email", type: "email"}
  %p
    Message:
    %br
    %textarea{name: "message"}
  %p
    %button{type: "submit"} Send
