.container
  %h1 Contact Me
  %p You can contact me by filling this form, or through the social media links below.

  %form{method: "POST", name: "contact-alghazu", :data-netlify => "true",  :netlify-honeypot=>"bot-field", :action=>"/success"}
    %p.hidden
      %label Don’t fill this out if you're human:
      %input{name: "bot-field"}
    .row
      .col-25
        %label{for: "name"} Name
      .col-75
        %input#name{name:"fullname", placeholder:"Your name..", type:"text"}
    .row
      .col-25
        %label{for: "email"} Email
      .col-75
        %input#email{name:"email", placeholder: "Your email..", type: "text"}
    .row
      .col-25
        %label{for: "message"} Message
      .col-75
        %textarea#subject{name: "message", placeholder: "Write something.."}
    .row
      %input{type:"submit", value: "Send"}