
.container
  #photo
    %img{src: "images/Nader-White.jpg"}

  %h1 Hello there!
  %p
    I'm Nader Al-Ghazu, a junior Full-Stack developer. I enjoy working with new technology, adding
    content to the web, and speaking the langugaes that makes it all alive.
