

#photo
  %img{src: "/images/Nader-White.jpg"}
#about-me
  %h1 Hello!
  %p
    I'm Nader Al-Ghazu, a Full-Stack developer, currently working at
    = link_to('Flyme', 'http://www.flymeuae.com') + ', '
    based in Stockholm, Sweden. I enjoy working with new technology, adding
    content to the web, and speaking the langugaes that makes it all alive.
