---
title: Nader's Wish List
---

.container
  %h1 My Wish List


  - data.wishlist.each do |wish|
    .wish
      %div
        %h3 
          = wish[:description] 
        %p
          =' (Price: ' + wish[:price].to_s + ' Kr)'
      
      %a.buy-btn{href: wish[:link], target: '_blank'}Buy Now



